body {
    background-color: aqua
}
.div-items {
    position: relative;
    border: 1px solid #000;
    padding: 30px;
    width: 600px;
    height: 300px;
}

.div-items .item {
    width: 70px;
    height: 70px;
    position: absolute;
}

.div-items .item-1 {
	background-color: burlywood;
    top: 0;
    right: 0;    
}

.div-items .item-2 {
    background-color: blue;
    left: 0;
    bottom: 0;
}

.div-items .item-3 {
	background-color: crimson;
/*
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
*/
transform: translate(-50%,-50%);
top: 50%;
left: 50%;
}