* {

    color: black;

}

button {

    box-shadow: 5px 5px 3px black, 10px 10px 3px black;
    font-size: 25px;
    margin: 25px;

}

body {

    background-color: rgba(0, 255, 255, 0.5);

}

.btn-primary {

    /*    visibility: visible;*/
    width: 200px;
    height: 150px;
    background-color: #87afd1;
    cursor: no-drop;

}

.second-btn {

    background-color: rgba(0, 128, 0, 0.5);

}

.help-btn,
.second-help-btn,
input,
.second-btn,
.primary-button-pointer:hover {

    cursor: pointer;

}