body {
    background-color: #bc7d2c;
}

.main .all span {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);

    /*
    Tutaj nie można użyć wielkości i szerokości z dowolnymi parametrami (np.25 px) ponieważ tekst się nie wyśrodkuje. Można jedynie użyć, ale z tego co widzę nie jest to potrzebene: ---
    height: auto;
    width: auto;
    
*/
    /*Wstawienie tutaj --- 
    text-align: center;
  nic nie da, text-align należy wstawić niżej tam, gdzie odnosimy się do wszystkich div'ów (czyli z klasą all)'*/
}

.main {
    position: relative;
    border: 1px solid #000;
    padding: 30px;
    width: 600px;
    height: 300px;
    margin-top: 10px;
}

.main .all {
    text-align: center;
    /* Tu wstawiamy tekst-align --- aby wyśrodkować tekst Numerów co widać na podglądzie strony */
    position: absolute;
    border: 3px solid #000;
    box-sizing: border-box;
}

.main .all.number1 {
    /*Jeżeli klasa w innym elemencie to spacja między klasami, jeżeli dwie klasy występujące po sobie (czyli tutaj <div class="all number1"> to bez spacji tak jak wyżej to widać. Inaczej mówiąc jak jeden cudzysłów i w nim kilka klas to bez spacji*/
    margin: 25px;
    height: 100px;
    width: 150px;
    background-color: blanchedalmond;
    transform: skewX(45deg) rotate(45deg) translateX(50%);
}

.main .all.number2 {
    background-color: aqua;
    height: 75px;
    width: 75px;
    /*    Ustawienie poniżej sprawi, iż nasz div znajdzie się dokładnie na środku elementu nadrzędnego (takie ustawienie działa zawsze, ale potrzebne są wszystkie poniższe elementy  */
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.main .all.number3 {
    height: 25px;
    width: 65px;
    background-color: #3a6c3c;
}

div#abc {
    position: relative;
    box-sizing: border-box;
    margin-top: 10px;
    padding: 35px;
    width: 50%;
    height: auto;
    border: 3px solid #fff;
    background: #323a3d;
    text-align: center;
    /*    line-height: 150px;*/
    /* line-height to odległość między liniami tekstu (czyli między każdym wierszem tekstu). */
}

h2 {
    /* Z moich obserwacji wynika, że h1, h2, h3, itd. już same mają jakieś paddingi i same trochę wyśrodkowują nam tekst */
    font-size: 25px;
    line-height: 75px;
    border: 5px double #866336;
    background-color: azure;
    text-transform: uppercase;
}

/*div#abc oraz h2 wspólnie sprawiają, że tekst jest wyśrodkowany, w div'ie głównym trzeba ustawić wysokość na auto lub w ogóle jej można nie ustawiać wtedy wysokość będzie czerpana z (w tym przypadku)h2 i line-height  ---- line-height można także zamiast w h2 ustawić w div'ie (też zadziała prawidłowo)*/

div#abc div {
    box-sizing: border-box;
    position: absolute;
    width: 50px;
    height: 50px;
}


div#abc div.new1 {
    background-color: aliceblue;
    left: 0;
    bottom: 0;
    border-top: 5px dotted #866336;
    border-right: 5px dotted #866336;


}

div#abc div.new2 {
    background-color: #4984b7;
    right: 0;
    top: 0;
    border-bottom: 5px dashed #866336;
    border-left: 5px dashed #866336;

}