body {
    background-color: brown;
    overflow: hidden;
}

div#container {
    border: 5px double black;
    width: 65vw;
    height: 600px;
    margin: 0 auto;
    left: 0;
    right: 0;
    display: flex;
    margin-top: 50vh;
    transform: translateY(-50%);
}

div.flex-items {
    flex: 1;
}

div.flex-items.item1,
div.inside-item2.small-item1,
div.inside-item2.small-item2,
div.flex-items.item3 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    border: 5px double darkorange;
}

div.item1 {
    background-color: aqua;
}

div.item2 {
    display: flex;
    flex-direction: column;
}

div.item3 {
    background-color: aliceblue;
}

div.inside-item2 {
    flex: 1;
}

div.small-item1 {
    background-color: greenyellow;
}

div.small-item2 {
    background-color: blueviolet;
}

span {
    border: 3px dotted #2e96d6;
    text-transform: uppercase;
    color: #170d2a;
    text-align: center;
    padding: 2px;
}