body {
    background-color: #226060;
    overflow: hidden;
    /*
    height: 100vh;
    width: 100vw;
*/
    margin: 0;
    /*    overflow: hidden;*/
}

div#container {
    background-color: brown;
    border: 10px double #3c2626;
    height: 100px;
    width: 100px;
    box-shadow: inset 0 0 3em gold, 0 0 5em #803333;
    border-radius: 5%;
    text-shadow: 5px 5px 5px blue;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    /*    position: absolute;*/
    top: 0;
    /*
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
*/
    /*    Margin musi być - auto, a nie - 0 auto. Oprócz tego position musi być  - absolute, top - 0, bottom - 0, left - 0; right - 0. Tak można wyśrodkować div'a i ustawić element na środku strony.*/
}

div#container:hover {
    transform: rotate(1080deg);
    transition: all 2s;
}

/*

div.middle {
    position: absolute;
    background-color: black;
    border: 5px dashed white;
    height: 100px;
    width: 100px;
    
    top: 50%;
    transform: translateY(-50%);

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
*/

div.trojkat {
    /*
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
*/
    height: 0;
    width: 0;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-bottom: 75px solid blue;
    text-align: center;
}

div#container,
div.trojkat,
div.text,
div.prostokat {
    position: absolute;

}

div#container,
div.trojkat,
div.text {
    left: 0;
    right: 0;
    margin: auto;
}

div#container,
div.trojkat {
    bottom: 0;
}

div.text {
    background-color: rgba(108, 88, 63, 0.2);
    padding: 1px;
    height: 15px;
    width: 50px;
    /*    position: absolute;*/
    /*
    left: 0;
    right: 0;
    margin: auto;
*/
    margin-top: 35px;
    transform: translateX(-50%);
    /*
    display: flex;
    align-items: center;
    justify-content: center;
*/
}

span, span.rotat {
    display: inline-block;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
}

span.rotat:hover {
    transform: rotate(1080deg);
    transition: all 2s;
}

div.trojkat-dwa {
    background-color: aliceblue;
    height: 250px;
    width: 250px;
    transform: rotate(-45deg);
    margin-left: 75px;
    margin-top: 75px;
}

div.trojkat-dwa:hover {
    background-color: goldenrod;
}

div.prostokat {
    /*    position: absolute;*/
    background-color: #226060;
    height: 250px;
    width: 500px;
    margin-top: -125px;
}